<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="logImpl" value="SLF4J" />
	</settings>

	<typeAliases>
		<package name="test.mybatis.one.bean" />
		<package name="test.mybatis.one.common" />
	</typeAliases>

	<typeHandlers>
		<typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler"
			javaType="test.mybatis.one.bean.Color" />
		<package name="test.mybatis.one.common" />
		<!-- <typeHandler handler="test.mybatis.one.common.MyTypeHandler"/> -->
	</typeHandlers>

	<plugins>
		<plugin interceptor="test.mybatis.one.common.PagePlugin">
			<property name="info" value="测试属性值" />
		</plugin>
	</plugins>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://localhost:3306/mybatis" />
				<property name="username" value="root" />
				<property name="password" value="123456" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
<!-- 		<mapper resource="test/mybatis/one/mapxml/StudentMapper.xml" /> -->
		<!-- <mapper resource="test/mybatis/one/mapxml/StudentMapper.xml" /> -->
		
		<mapper resource="test/mybatis/one/mapxml/HeadImgMapper.xml" />
		<package name="test.mybatis.one.mapper.StudentMapper"/>  
		
	</mappers>

</configuration>